[submodule "debug"]
	path = debug
	url = https://github.com/GabeRundlett/debug
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glad"]
	path = glad
	url = https://github.com/GabeRundlett/glad
